$c-black: #211103;
$c-grey: #2F2D2E;
$c-white: #F7FFF7;
$c-pink: #E27396;
$c-blue: #698996;

$c-text-main: $c-white;
$c-icon-main: $c-white;

$c-bg-header: $c-black;
$c-bg-search: $c-grey;

$c-bg: $c-grey;
